node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
.nyc_output
coverage
Makefile
**/*.log
**/.dockerignore
**/.DS_Store
**/.idea
**/.vscode
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
.editorconfig
.env
.env.*
